In [97]:
import pandas as pd

with open("figure2.csv", 'r') as file:
    data = file.read().split('\n')[1:]

rows = [a.split(',') for a in data if a[0] == 'r']
heads = [data[i+1].split(',')[0] for i, a in enumerate(data) if a[0] == 'r'] 

for i in range(len(rows)):
    rows[i] = [b for b in rows[i] if b]
    rows[i].extend(rows[i].pop(-1).split(' '))
    rows[i] = [b for b in rows[i] if b]
    rows[i][0] = heads[i]
t_data = list(zip(*rows))

df = pd.DataFrame(t_data[1:], columns=t_data[0])
df[0:4]

  SLC24A4 KITLG 6P25.3 TYR-1 TYR-2 OCA2-1 OCA2-2 MC1R-1 MC1R-2
0    54.7  19.6   46.8  29.3  70.2   97.6   94.1   13.5    9.6
1    57.7  19.6   46.9  31.1  70.5     99   98.6   13.5    9.7
2    39.5  20.9   47.1  22.9  68.9   97.5   91.1     13   10.4
3      54  17.8   44.2  27.3  70.2   87.5     67   12.8    7.8

# WELL HELLO THERE

In [231]:
blue = [0]*2234
green = [1]*428
brown = [2]*324
data_dict = {}
data_dict['eye_color'] = blue + green

In [234]:
col_count = [2234, 428]

for pheno in df.columns:
    data_dict[pheno] = []
    for i, stat in enumerate(list(df[pheno][1:3])):
        amount = round(col_count[i]*(float(stat)/100))
        data_dict[pheno].extend([1]*amount + [0]*(col_count[i]-amount))
final_df = pd.DataFrame(data_dict)    
final_df

,eye_color,SLC24A4,KITLG,6P25.3,TYR-1,TYR-2,OCA2-1,OCA2-2,MC1R-1,MC1R-2
0,0,1,1,1,1,1,1,1,1,1
1,0,1,1,1,1,1,1,1,1,1
2,0,1,1,1,1,1,1,1,1,1
3,0,1,1,1,1,1,1,1,1,1
4,0,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...
2657,1,0,0,0,0,0,0,0,0,0
2658,1,0,0,0,0,0,0,0,0,0
2659,1,0,0,0,0,0,0,0,0,0
2660,1,0,0,0,0,0,0,0,0,0
2661,1,0,0,0,0,0,0,0,0,0

In [235]:
from sklearn.model_selection import train_test_split

phenos = list(df.columns)[0:]

y = final_df.eye_color
X = final_df[phenos].copy()

X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=0)

In [277]:
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

# Define the models
model = RandomForestRegressor(n_estimators=1000, random_state=0)

XGmodel = XGBRegressor(subsample=0.5, n_estimators=500, learning_rate=0.05, early_stopping_rounds=6, max_depth=10)

In [278]:
from sklearn.metrics import mean_absolute_error

model.fit(X_train, y_train)
preds = model.predict(X_valid)

XGmodel.fit(X_train, y_train,
             eval_set=[(X_valid, y_valid)],
             verbose=False)

XGpreds = XGmodel.predict(X_valid)

In [286]:
from statistics import mean
print(mean([abs(int(list(y_valid)[i]) - int(preds[i])) for i in range(len(preds))]))
#[print(preds[i], list(y_valid)[i]) for i in range(len(preds))]
print(mean([abs(int(list(y_valid)[i]) - int(XGpreds[i])) for i in range(len(XGpreds))]))
i = [print(preds[i], list(y_valid)[i]) for i in range(len(preds)) if list(y_valid)[i] == 1]

0.1350844277673546
0.150093808630394
0.16783380334810105 1
0.12985620375453696 1
0.16783380334810105 1
0.12949987379349806 1
0.12949987379349806 1
0.19103165321315377 1
1.0 1
0.12949987379349806 1
1.0 1
0.23325617312254068 1
0.12949987379349806 1
0.23325617312254068 1
0.2028706970885351 1
1.0 1
1.0 1
0.19103165321315377 1
0.12949987379349806 1
0.16783380334810105 1
0.23325617312254068 1
0.2028706970885351 1
0.16783380334810105 1
0.23325617312254068 1
0.23325617312254068 1
0.23325617312254068 1
0.2028706970885351 1
0.2028706970885351 1
0.12949987379349806 1
0.12949987379349806 1
1.0 1
0.23325617312254068 1
0.12949987379349806 1
0.19103165321315377 1
0.12949987379349806 1
0.23325617312254068 1
0.23325617312254068 1
0.16783380334810105 1
0.23325617312254068 1
0.7261047801737311 1
0.19103165321315377 1
1.0 1
0.23325617312254068 1
0.037808501206797684 1
0.23325617312254068 1
0.12949987379349806 1
0.16783380334810105 1
0.12949987379349806 1
0.23325617312254068 1
0.7261047801737311 1
0.12949987379349806 1
0.12949987379349806 1
0.23325617312254068 1
0.2028706970885351 1
0.23325617312254068 1
0.12949987379349806 1
0.12949987379349806 1
0.23325617312254068 1
1.0 1
0.7261047801737311 1
0.31980869090841013 1
0.19103165321315377 1
0.12949987379349806 1
0.23325617312254068 1
0.16783380334810105 1
0.12949987379349806 1
0.19103165321315377 1
0.12949987379349806 1
0.12949987379349806 1
0.23325617312254068 1
0.19103165321315377 1
0.31980869090841013 1
0.12949987379349806 1
0.31980869090841013 1
0.23325617312254068 1
0.23325617312254068 1
0.23325617312254068 1
0.16783380334810105 1
0.19103165321315377 1
0.16783380334810105 1
1.0 1
0.12949987379349806 1

In [289]:
amount = 0
lenn = 0
browns = 0
for i in range(len(preds)):
    if (preds[i] > 0.5):
        amount += 1
    elif list(y_valid)[i] == 1:
        lenn += 1
        browns += preds[i]
print(amount, lenn)
print(browns/lenn)
print(len([a for a in preds if a >0.18547940151020584]))

11 69
0.18547940151020584
212

In [ ]:
enumerate